@import "tailwindcss";

body {
  @apply antialiased;
  margin: 0;
  overflow: hidden;
}

#root {
  @apply h-screen overflow-hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700;
}